<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHMKqJ6526qYf9LWXcB9piAQxIJzzCAZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>59571695743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>securitycctv-e6e03</string>
	<key>STORAGE_BUCKET</key>
	<string>securitycctv-e6e03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59571695743:ios:9cecf109cd2cfb1de88f4a</string>
	<key>DATABASE_URL</key>
	<string>https://securitycctv-e6e03-default-rtdb.firebaseio.com</string>
</dict>
</plist>